body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

/* Navbar */

.menu {
  border-bottom: 1px solid lightgrey;
  padding: 15px 0;
}

.navbar-nav > li > a {
  color: black;
  text-transform: uppercase;
  padding: 0;
  margin: 15px 10px;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  color: #f95e6d;
}

/* Home wrapper */

.home-wrapper {
  text-align: center;
  margin: 0 30px;
  overflow-wrap: break-word;
}

/* Filters / checkboxes*/

fieldset {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.form-check {
  margin: 0 5px;
}

/* Cards */

.cardCont {
  padding-top: 40px;
  padding-bottom: 40px;
}

.cardCont .title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.card-content {
  border: 1px solid black;
}

.card {
  margin-bottom: 90px;
  text-align: center;
  height: 370px;
}

.card a {
  border: 1px solid lightgrey;
  display: block;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  height: fit-content;
  border-radius: 4px;
}

.card a h6 {
  text-align: center;
  margin-bottom: 30px;
}

.card span {
  width: 80%;
}
.card img {
  width: 100%;
  height: 200px;
  display: block;
}
.card-col {
  margin-left: 79px;
}
.card-col img {
  margin-top: 70px;
}

.card h2 {
  font-size: 14px;
  color: black;
}

.cardDetails {
  margin-right: 90px;
}

.cardDetail .title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.cardDetail p {
  margin-top: 20px;
}

.cardDetail .button {
  line-height: 40px;
  padding: 0 50px;
  margin-top: 20px;
  color: #fff;
  background-color: #f95e6d;
  border: 1px solid #f95e6d;
  transition: all 0.3s ease-out;
}
.p-bold {
  font-weight: bold;
}

.cardDetail .button:hover {
  background-color: white;
  color: #f95e6d;
}

.info-cont {
  margin: 50px 0;
  overflow-wrap: break-word;
  padding: 0 20px;
}
.info-cont img {
  width: 90%;
}

.info-cont p {
  width: 70%;
}

.card-footer {
  height: 170px;
  overflow: hidden;
}

/* Card hovers */

.card a:hover {
  text-decoration: none;
  box-shadow: 0 10px 10px lightgrey;
}

/* Footer */

.footer h2 {
  color: lightgrey;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.footer .lists {
  padding: 50px 0;
  border-top: 1px solid lightgrey;
}

.footer ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  line-height: 30px;
}

.footer ul li a {
  color: black;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.footer ul li a:hover {
  color: #f95e6d;
  text-decoration: none;
}

.footer .copyright {
  border-top: 1px solid lightgrey;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0;
}

.footer .copyright span {
  font-weight: bold;
}

/* Error page css */

.errorPage {
  padding: 100px 0;
}

.errorPage h1 {
  font-size: 70px;
  color: #f95e6d;
}

.errorPage p {
  font-size: 20px;
}

.errorPage .link {
  color: #f95e6d;
}

/* Media queries */

@media only screen and (max-width: 1040px) {
  .info-cont {
    text-align: center;
  }
  .info-cont p {
    width: 100% !important;
  }
}

@media only screen and (max-width: 999px) {
  .card-col {
    margin-left: 0 !important;
  }
  .info-cont img {
    width: 50%;
  }
}

@media only screen and (max-width: 780px) {
  .card {
    margin-bottom: 110px;
  }
  .card a {
    padding: 25px;
  }
  .cardWrapper {
    margin-left: 10 !important;
  }
}

@media only screen and (max-width: 540px) {
  .card-col img {
    width: 90%;
  }
}

@media only screen and (max-width: 429px) {
  .card {
    margin-bottom: 50px;
  }
  .card a {
    padding: 5px;
  }
  .info-cont img {
    width: 90%;
  }
  .info-cont p {
    width: 90% !important;
  }
}
